@font-face {
  font-family: 'Segoe Pro Semibold';
  src: url(font/SegoePro-Semibold.woff);
}

@font-face {
  font-family: 'Segoe Pro Bold';
  src: url(font/SegoePro-Bold.woff);
}

.disable {
  display: none;
  cursor: not-allowed;
}

body {
  background-color: #F3F4FA;
  font-family: "Segoe Pro Semibold";
}

.nav {
  width: 100%;
  height: 5rem;
  background-color: #fff;
}

.nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.nav .nav-items .nav-logo {
  min-width: 150px;
  min-height: 2.5rem;
  background-image: url(images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: auto;
  margin-bottom: auto;
}

.nav .nav-items .right-controls {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .nav-items .right-controls .nav-btn {
  margin-left: 2rem;
  width: 12rem;
  height: 2.5rem;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #1C314D;
  border-radius: 13px;
  text-align: center;
  line-height: 2.5rem;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.nav .nav-items .right-controls .nav-btn:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.nav .nav-items .right-controls .nav-btn.btn-cancel {
  background-color: #F5241B;
}

.nav .nav-items .right-controls .nav-btn.btn-invite {
  color: #1C314D;
  background-color: transparent;
  border: solid 2px #1C314D;
  line-height: 2.4rem;
}

.nav .nav-items .right-controls .nav-btn.btn-invite:hover {
  color: #fff;
  background-color: #1C314D;
}

.nav .nav-items .right-controls .toggle-btn {
  width: 4.5rem;
  height: 2.5rem;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  background: #F5241B;
  cursor: pointer;
  -webkit-transition: background-color .40s ease-in-out;
  transition: background-color .40s ease-in-out;
}

.nav .nav-items .right-controls .toggle-btn.active {
  background: #44E214;
}

.nav .nav-items .right-controls .toggle-btn.active .round-btn {
  left: 37px;
}

.nav .nav-items .right-controls .toggle-btn .round-btn {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -15px;
  -webkit-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
}

.nav .nav-items .right-controls .toggle-btn .cb-value {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
}

.nav .nav-items .right-controls p {
  width: 4rem;
  line-height: 2.5rem;
  margin-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
}

.registration {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.registration h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 4rem;
  color: #1C314D;
}

.registration .form {
  margin-top: 2rem;
  min-width: 320px;
  max-width: 600px;
}

.registration .form h4 {
  color: #1C314D;
}

.registration .form .form-control {
  border-radius: 13px;
  border: none;
  -webkit-box-shadow: 2px 5px 7px #d8d8d860;
          box-shadow: 2px 5px 7px #d8d8d860;
  border-bottom: 3px solid transparent;
  -webkit-transition: border 0.35s;
  transition: border 0.35s;
}

.registration .form .form-control:focus {
  border-bottom: 3px solid #1C314D;
}

.registration .form .styled-checkbox {
  position: absolute;
  display: none;
}

.registration .form .styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  color: #1C314D;
}

.registration .form .styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: bottom;
  width: 25px;
  height: 25px;
  background: #fff;
  border: 2px solid #1C314D;
  border-radius: 50px;
  -webkit-box-shadow: 2px 5px 7px #d8d8d89c;
          box-shadow: 2px 5px 7px #d8d8d89c;
}

.registration .form .styled-checkbox:checked + label:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #1C314D;
  border: 2px solid #1C314D;
}

.registration .form .styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 7px;
  top: 12px;
  background: #fff;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
          box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.registration .form.opening-hours {
  min-width: 100%;
}

.registration .form.opening-hours .opening-customized {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 100%;
}

.registration .form.opening-hours .opening-customized .day {
  height: 340px;
  min-width: 180px;
  background-color: #fff;
  border-radius: 13px;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

.registration .form.opening-hours .opening-customized .day h5 {
  padding-top: .3rem;
}

.registration .form.opening-hours .opening-customized .day .pause-checkbox {
  position: absolute;
  display: none;
}

.registration .form.opening-hours .opening-customized .day .pause-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  color: #1C314D;
}

.registration .form.opening-hours .opening-customized .day .pause-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: bottom;
  width: 25px;
  height: 25px;
  background: #fff;
  border: 2px solid #1C314D;
  border-radius: 50px;
  -webkit-box-shadow: 2px 5px 7px #d8d8d89c;
          box-shadow: 2px 5px 7px #d8d8d89c;
}

.registration .form.opening-hours .opening-customized .day .pause-checkbox:checked + label:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #1C314D;
  border: 2px solid #1C314D;
}

.registration .form.opening-hours .opening-customized .day .pause-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 7px;
  top: 12px;
  background: #fff;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
          box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.registration .form.photos {
  min-width: 100%;
}

.registration .form.photos .photo-wrapper {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration .form.photos .photo-wrapper form {
  min-height: 250px;
  min-width: 250px;
  margin-right: 1rem;
}

.registration .form.fuel .fuel-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.registration .form.fuel .fuel-row .form-control.form-control-lg {
  width: 120%;
}

.registration .form.fuel .fuel-row .form-control.form-control-lg option {
  padding-right: 3rem;
}

.registration .form.fuel .fuel-row .delete-column h6 {
  visibility: hidden;
}

.registration .form.fuel .fuel-row .delete-column .delete-img {
  background-image: url(images/delete.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
}

.registration .form.fuel .fuel-row .delete-column .delete-img:hover {
  cursor: pointer;
}

.registration .btn.btn-primary.btn-lg.active {
  background-color: #fff;
  color: #1C314D;
  border-radius: 13px;
  border: none;
  -webkit-box-shadow: 2px 5px 7px #d8d8d860;
          box-shadow: 2px 5px 7px #d8d8d860;
  border-bottom: 3px solid transparent;
  -webkit-transition: border 0.35s;
  transition: border 0.35s;
}

.registration .btn.btn-primary.btn-lg.active i {
  font-size: 1rem;
}

.registration .form.payments .cards-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration .form.payments .cards-section .method {
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 13px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 2px 5px 7px #d8d8d860;
          box-shadow: 2px 5px 7px #d8d8d860;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.registration .form.payments .cards-section .method img {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.registration .form.payments .cards-section .method label {
  padding-left: 10px;
  margin: auto;
}

.registration .form.payments .cards-section .method .styled-checkbox:checked + label:after {
  left: 17px;
}

.registration .form.info textarea {
  resize: none;
  height: 200px;
}

.registration .form.confirmation {
  margin-bottom: 4rem;
}

.registration .form.confirmation .styled-checkbox:checked + label:after {
  top: 15px;
}

.registration .form.confirmation label {
  font-size: 1.2rem;
}

.registration .form.confirmation .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration .form.confirmation .btns .btn-send {
  margin-top: 1rem;
  width: 12rem;
  height: 2.5rem;
  background-color: #1C314D;
  border-radius: 13px;
  text-align: center;
  line-height: 2.5rem;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.registration .form.confirmation .btns .btn-send:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.registration .form.confirmation .btns .btn-cancel {
  margin-top: 1rem;
  width: 12rem;
  height: 2.5rem;
  background-color: #F5241B;
  border-radius: 13px;
  text-align: center;
  line-height: 2.5rem;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  margin-left: 2rem;
}

.registration .form.confirmation .btns .btn-cancel:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.footer {
  width: 100%;
  height: 2rem;
  background-color: #fff;
  text-align: center;
  font-size: 0.8rem;
  line-height: 2rem;
}
/*# sourceMappingURL=style.css.map */