@font-face {
  font-family: 'Segoe Pro Semibold';
  src: url(font/SegoePro-Semibold.woff);
}

@font-face {
  font-family: 'Segoe Pro Bold';
  src: url(font/SegoePro-Bold.woff);
}

.hide {
  opacity: 0;
}

.error {
  color: #F5241B;
}

.disable {
  display: none;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  background: rgba(158, 175, 196, 0.8);
  position: fixed;
  z-index: 100;
  margin: auto;
}

.loader-wrapper .loader {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.loader-wrapper .loader-quart {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);
}

.loader-wrapper .loader-quart:after {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.smaller {
  height: 240px !important;
}

.dropzone {
  width: 250px;
  height: 250px;
  background-color: #fff;
  border-radius: 13px;
  border: 2px dashed #9EAFC4;
  position: relative;
  background-image: url("images/upload.svg");
  background-size: 160px;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  cursor: pointer;
}

.dropzone::after {
  content: "Nahrajte";
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 1.2rem;
  color: #9EAFC4;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(158, 175, 196, 0.8);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 400px;
  background: #fff;
  z-index: 100;
  visibility: hidden;
  display: block;
  opacity: 0;
  border-radius: 13px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transform: translateY(45px);
          transform: translateY(45px);
}

.modal .close {
  position: absolute;
  top: 2px;
  right: 0;
  width: 35px;
  height: 30px;
  color: #1C314D;
  cursor: pointer;
  border: 0;
  font-size: 2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.modal p {
  color: #1C314D;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 4rem;
  width: 400px;
  font-size: 1.7rem;
}

.modal .buttons-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 200%);
          transform: translate(-50%, 200%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .buttons-modal .button {
  margin: 0.5rem;
}

.modal .buttons-modal .button.cancel {
  background-color: #F5241B;
}

.active {
  visibility: visible;
  opacity: 1;
}

.active + .modal {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #F3F4FA;
  font-family: "Segoe Pro Semibold";
  position: relative;
  padding-bottom: 3rem;
}

.nav {
  width: 100%;
  height: 4rem;
  background-color: #fff;
}

.nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: auto;
}

.nav .nav-items .nav-logo {
  min-width: 150px;
  min-height: 2.5rem;
  background-image: url(images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: auto;
  margin-bottom: auto;
}

.nav .nav-items .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 2rem;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.nav .nav-items .btns div {
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav .nav-items .btns a {
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #1C314D;
  vertical-align: middle;
}

.nav .nav-items .burger {
  width: 30px;
  height: 30px;
  background-image: url(images/burger.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.content {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 4rem;
  color: #1C314D;
}

.button {
  width: 12rem;
  height: 2.8rem;
  border-radius: 13px;
  text-align: center;
  line-height: 2.8rem;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  cursor: pointer;
  background-color: #1C314D;
  color: #fff;
  font-size: 1rem;
}

.button:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.form {
  margin-top: 2rem;
  min-width: 320px;
  width: 600px;
}

.form h4 {
  color: #1C314D;
}

.form h4 i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(images/info.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: text-top;
}

.form [data-title]:hover:after {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: visible;
}

.form [data-title]:after {
  content: attr(data-title);
  background-color: #1C314D;
  color: #fff;
  font-size: 1.1rem;
  padding: 8px 20px;
  position: absolute;
  bottom: -1.6em;
  left: 100%;
  white-space: nowrap;
  opacity: 0;
  z-index: 9;
  visibility: hidden;
  border-radius: 0px 13px 13px 13px;
}

.form [data-title] {
  position: relative;
}

.form .form-control {
  border-radius: 13px;
  border: none;
  -webkit-box-shadow: 2px 5px 7px #d8d8d860;
          box-shadow: 2px 5px 7px #d8d8d860;
  border-bottom: 3px solid transparent;
  -webkit-transition: border 0.35s;
  transition: border 0.35s;
}

.form .form-control:focus {
  border-bottom: 3px solid #1C314D;
}

.form .form-control.denied {
  border: 3px solid #F5241B;
  position: relative;
}

.form .styled-checkbox {
  position: absolute;
  display: none;
}

.form .styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  color: #1C314D;
}

.form .styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: bottom;
  width: 25px;
  height: 25px;
  background: #fff;
  border: 2px solid #1C314D;
  border-radius: 50px;
  -webkit-box-shadow: 2px 5px 7px #d8d8d89c;
          box-shadow: 2px 5px 7px #d8d8d89c;
}

.form .styled-checkbox:checked + label:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #1C314D;
  border: 2px solid #1C314D;
}

.form .styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 7px;
  top: 12px;
  background: #fff;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
          box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.form.opening-hours {
  min-width: 100%;
}

.form.opening-hours .opening-customized {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 100%;
}

.form.opening-hours .opening-customized .day {
  height: 340px;
  min-width: 170px;
  background-color: #fff;
  border-radius: 13px;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

.form.opening-hours .opening-customized .day .input-group .input-group-prepend .input-group-text {
  background-color: transparent;
  border: 1px solid #9EAFC4;
}

.form.opening-hours .opening-customized .day .input-group .custom-select {
  height: initial;
  border: 1px solid #9EAFC4;
  border-left: none;
}

.form.opening-hours .opening-customized .day h5 {
  padding-top: .3rem;
}

.form.opening-hours .opening-customized .day .pause-checkbox {
  position: absolute;
  display: none;
}

.form.opening-hours .opening-customized .day .pause-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  color: #1C314D;
}

.form.opening-hours .opening-customized .day .pause-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: bottom;
  width: 25px;
  height: 25px;
  background: #fff;
  border: 2px solid #1C314D;
  border-radius: 50px;
  -webkit-box-shadow: 2px 5px 7px #d8d8d89c;
          box-shadow: 2px 5px 7px #d8d8d89c;
}

.form.opening-hours .opening-customized .day .pause-checkbox:checked + label:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #1C314D;
  border: 2px solid #1C314D;
}

.form.opening-hours .opening-customized .day .pause-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 7px;
  top: 12px;
  background: #fff;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
          box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.form.photos {
  min-width: 100%;
}

.form.photos .photo-wrapper {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form.photos .photo-wrapper form {
  min-height: 230px;
  max-height: 230px;
  min-width: 230px;
  margin-right: 1rem;
}

.form.fuel .fuel-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.form.fuel .fuel-row .custom-select {
  width: 120%;
  border: none;
  border-radius: 13px;
  height: 48px;
  padding: .5rem 1rem;
  -webkit-box-shadow: 2px 5px 7px #d8d8d860;
          box-shadow: 2px 5px 7px #d8d8d860;
  border-bottom: 3px solid transparent;
}

.form.fuel .fuel-row .custom-select option {
  padding-right: 3rem;
}

.form.fuel .fuel-row .delete-column h6 {
  visibility: hidden;
}

.form.fuel .fuel-row .delete-column .delete-img {
  background-image: url(images/delete.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
}

.form.fuel .fuel-row .delete-column .delete-img:hover {
  cursor: pointer;
}

.form.services {
  width: 1250px;
}

.form.services .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2rem;
}

.form.services .service .column-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form.services .service .column-left .forms-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.form.services .service .column-left .forms-top .form-one {
  margin-right: 1rem;
}

.form.services .service .column-left .forms-top .form-one input {
  width: 250px;
}

.form.services .service .column-left .forms-top .form-two input {
  width: 250px;
}

.form.services .service .column-left .service-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form.services .service .column-left .service-photos form {
  margin-right: 1rem;
}

.form.services .service .column-right {
  margin-right: 1rem;
  border: none !important;
}

.form.services .service .column-right ul {
  border: none !important;
  height: 2.5rem;
  background: none;
}

.form.services .service .column-right ul li {
  border: none;
}

.form.services .service .column-right textarea {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  resize: none;
  height: 275px;
}

.form.services .service .delete-column {
  margin-top: auto;
  margin-bottom: auto;
}

.form.services .service .delete-column .delete-img {
  background-image: url(images/delete.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
}

.form.services .service .delete-column .delete-img:hover {
  cursor: pointer;
}

.form.payments .cards-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1250px;
}

.form.payments .cards-section .method {
  background-color: #fff;
  width: 90px;
  height: 90px;
  border-radius: 13px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 2px 5px 7px #d8d8d860;
          box-shadow: 2px 5px 7px #d8d8d860;
  margin-right: 0.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.form.payments .cards-section .method img {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: -0.2rem;
  max-width: 50px;
  max-height: 50px;
}

.form.payments .cards-section .method label {
  padding-left: 10px;
  margin: auto;
}

.form.payments .cards-section .method .styled-checkbox:checked + label:after {
  left: 17px;
}

.form.info #nav-tab.nav.nav-tabs {
  background-color: #F3F4FA;
}

.form.info nav {
  height: 2.5rem;
  background-color: none !important;
}

.form.info nav .nav-tabs a {
  color: #1C314D;
  border: none;
}

.form.info textarea {
  resize: none;
  height: 200px;
}

.form.confirmation {
  margin-bottom: 4rem;
}

.form.confirmation .styled-checkbox:checked + label:after {
  top: 15px;
}

.form.confirmation label {
  font-size: 1.2rem;
}

.form.confirmation .btns-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.form.confirmation .btns-bottom .btn-cancel {
  background-color: #F5241B;
  margin-left: 2rem;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #fff;
  text-align: center;
  font-size: 0.8rem;
  line-height: 3rem;
}
/*# sourceMappingURL=style.css.map */